.titre {
    padding: 20px;
    background-color: orangered;
    color: white;
    border-radius: 30px;
    margin: 50px;
    text-align: center;
}

.image {
text-align: center;
}
p {
    font-weight: bolder;
}